.game-box {
  /* border: 1px solid black; */
  /* margin: 0% 5% 2% 5%; */
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: auto;
  background: #1400cd;
}

.team-box {
  /* background: grey; */
  border: 2px solid grey;
  padding: 3%;
  width: 30%;
  display: flex;
  flex-direction: space;
  justify-content: space-between;
  margin: 1%;
  align-items: center;
  border-radius: 10px;
}

.home-away {
  display: flex;
  justify-content: space-between;
  margin: 0% 29% -4.8% 29%;
}

.score-class {
  font-size: 4rem;
}
.team-class {
  font-size: 1.2rem;
  font-weight: 400;
}
